.fc_subtitle{
    font-weight: 400;
}

.img_title{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.img_title img {
    height: 25px;
    width: 25px !important;
}

.rcp_ingredients {
    overflow: hidden;
    max-height: 195px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.food_name{
    display: flex;
    justify-content: space-between;
}

.food_name span {
    margin-left: 10px;
}

.UserInfo img {
    width: 180px;
    border-radius: 50%;
}

.UserInfo{
    text-align: center;
    padding-top: 30px;
}

.user_info {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0;
}

.star{
    width: 30px !important;
    position: absolute;
    right: 10px;
    top: 10px;
}

:global .Home{
    width: 100%;
}

:global .home_search input{
    width: 500px;
    height: 35px;
    border: none;
}

:global .home_search {
    text-align: center;
    padding: 10px 0;
}