.fc_subtitle{
    font-weight: 400;
}

.img_title{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.img_title img {
    height: 25px;
    width: 25px !important;
}

:global .swiper-button-prev.swiper-button-disabled{
    display:none;   
}

:global .swiper-button-next.swiper-button-disabled{
    display:none;   
}

.rcp_ingredients {
    overflow: hidden;
    max-height: 195px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}